<div class="single-activity-container" *ngIf="activity">
  <div class="router-info">
    <span routerLink="/">高雄</span>
    <span>∕</span>
    <span>{{activity.Name}}</span>
  </div>
  <div class="detail">
    <div class="pic">
      <img class="img-fluid mx-auto" [src]="activity.Picture1">
    </div>
    <div class="content">
      <div class="title">
        {{activity.Name}}
      </div>
      <div class="cate">
          <span>門票說明</span>
          <span>{{activity.Ticketinfo}}</span>
        </div>
      <div class="info">
        <span class="location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>{{activity.Zone}}
        </span>
        <span class="date">
          <i class="fa fa-calendar" aria-hidden="true"></i>{{activity.Opentime}}
        </span>
      </div>
      <div class="desc">
        {{activity.Toldescribe}}
      </div>
    </div>
  </div>
</div>
