//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

// basic style variable setting
$deepPurple:#7828B4;
$lightPurple:#9013FE;
$grayL1:#f2f2f2;
$grayL2:#ebebeb;
$grayL3:#d7d7d7;
$grayL4:#9b9b9b;
$white:#FFFFFF;
$black:#000000;
@mixin title {
  font-weight: bold;
  font-size: 24px;
}

@mixin title2 {
  font-weight: bold;
  font-size: 36px
}

@mixin subtitle {
  font-weight: bold;
  font-size: 20px;
}

@mixin placeholder {
  font-size: 20px;
}

@mixin lable {
  font-style: italic;
}

html {
  font-size: 16px;
}

.container-fluid {
  background-color: $grayL1;
}

.activity {
  // width: 100%;
  height: 220px;
  background-color: $white;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  .pic {
    width: 220px;
    height: 220px; // display: inline-block;
    float: left;
    img {
      // width: 220px;
      // height: 220px;
      width: 100%;
      height: 100%; // float: left;
    }
  }
  .content {
    // float: left;
    display: inline-block;
    height: 100%;
    width: 560px;
    div {
      display: block;
      padding: 10px 20px;
      &.title {
        @include title;
        color: $deepPurple;
      }
      &.desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 560px; // overflow : hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
      }
      &.cate {
        span {
          &:first-child {
            margin-right: 10px;
            color: $black;
            font-weight: bold;
          }
          &:last-child {
            @include lable;
            color: $white;
            background-color: $grayL3;
            border-radius: 100px;
            padding: 3px 16px;
          }
        }
      }
      &.info {
        span {
          margin-right: 15px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.filter-container {
  margin-top: 15px;
  background-color: $grayL2;
  .location{
    .title{
      @include subtitle;
      color: $black;
      padding-left: 10px;
      padding-top: 24px;
      padding-bottom: 15px;
    }
    .button{
      .button-container{
        display: inline-block;
        width: 33%;
        padding: 10px
        // button{
        //   margin: 0 auto;
        // }
      }
    }
  }
}

.single-activity-container {
  // background-color: $white;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  .router-info {
    border-radius: 4px;
    width: 100%;
    background-color: $grayL2;
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    margin-bottom: 30px;
    span {
      margin-right: 5px;
      &:first-child {
        cursor: pointer;
        color: $deepPurple;
      }
    }
  }
  .detail {
    background-color: $white;
    .pic {
      width: 100%;
      height: 100%; // max-height: 400px;
      // img {
      //   max-width: 100%;
      //   max-height: 100%;
      // }
    }
    .content {
      padding-right: 60px;
      padding-left: 60px;
      div {
        margin-bottom: 10px;
        &.title {
          @include title2;
          color: $deepPurple;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        &.cate {
          span {
            &:first-child {
              margin-right: 10px;
              color: $black;
              font-weight: bold;
            }
            &:last-child {
              @include lable;
              color: $white;
              background-color: $grayL3;
              border-radius: 100px;
              padding: 3px 16px;
            }
          }
        }
        &.info {
          span {
            margin-right: 15px;
            i {
              margin-right: 5px;
            }
          }
        }
        &.desc{
          line-height: 2rem;
          padding-bottom: 15px;
        }
      }
    }
  }
}
