//font-awsome
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
// font
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC';
  box-sizing: border-box;
}

// basic style variable setting
$deepPurple:#7828B4;
$lightPurple:#9013FE;
$grayL1:#f2f2f2;
$grayL2:#ebebeb;
$grayL3:#d7d7d7;
$grayL4:#9b9b9b;
$white:#FFFFFF;
$black:#000000;
@mixin title {
  font-weight: bold;
  font-size: 24px;
}

@mixin title2 {
  font-weight: bold;
  font-size: 36px
}

@mixin subtitle {
  font-weight: bold;
  font-size: 20px;
}

@mixin placeholder {
  font-size: 20px;
}

@mixin lable {
  font-style: italic;
}
html {
  font-size: 16px;
}
.container{
  background-color: $grayL1;
}
.activity {
  width: 780px;
  height: 220px;
  background-color: $white;
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
  .pic {
    width: 220px;
    height: 220px;
    // display: inline-block;
    float: left;
    img {
      // width: 220px;
      // height: 220px;
      max-width: 220px;
      height: auto; // float: left;
    }
  }
  .content {
    // float: left;
    display: inline-block;
    height: 100%;
    width: 560px;
    div {
      display: block;
      padding: 10px 20px;
      &.title {
        @include title;
        color: $deepPurple;
      }
      &.desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 560px;
      }
      &.cate{
        span{
          &:first-child{
            margin-right: 10px;
            color: $black;
            font-weight: bold;
          }
          &:last-child{
            @include lable;
            color: $white;
            background-color: $grayL3;
            border-radius: 100px;
            padding: 3px 16px;
          }
        }
      }
      &.info{
        span{
          margin-right: 15px;
          i{
            margin-right: 5px;
          }
        }
      }
    }
  }
}
